@use 'colors';
// @import 'colors.scss';

$white: #ffffff;

body {
    color: colors.$text-color;
}

// CSS 
// body {
//     color: #ffffff;
// }



// #menu .container {
//     padding: 100px;
// }

// #menu .container .menu-container {
//     display: flex;
//     flex-wrap: wrap;
//     margin-top: 70px;
// }

// #menu .container .menu-container .menu-details {
//     width: 50%;
//     padding: 0 15px;
// }

// #menu .container .menu-container .menu-details h3 {
//     font-size: 32px;
//     font-weight: 400;
//     color: #444;
//     margin: 20px 0;
//     text-align: center;
//     text-transform: uppercase;
// }

#menu {
    .container {
        padding: 10px;

        .menu-container {
            display: flex;
            flex-wrap: wrap;
            margin-top: 70px;

            .menu-details {
                width: 50%;
                padding: 0 15px;
                
                
            }
            > h3 {
                    font-size: 32px;
                    font-weight: 400;
                    color: #444;
                    margin: 20px 0;
                    text-align: center;
                    text-transform: uppercase;
                }
        }
    }
}

@mixin mandratema($fono-spalva: green, $teksto-spalva: red) {
    background-color: $fono-spalva;
    color: $teksto-spalva;
}

body {
    @include mandratema;
}

div {
    @include mandratema(white, black);
}